<div class="container">
    <form action="Create" method="post">
        <div class="row">
            <div class="col-25">
                <label for="fname">Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="TeacherName" name="TeacherName" placeholder="Your Name....">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Age</label>
            </div>
            <div class="col-75">
                <input type="text" id="TeacherAge" name="TeacherAge" placeholder="Your Age....">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="lname">Address</label>
            </div>
            <div class="col-75">
                <input type="text" id="TeacherAddress" name="TeacherAddress" placeholder="Your address....">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="lname">Is Active</label>
            </div>
            <div class="col-75">
                <input type="checkbox" value="false" id="TeacherStatus" name="TeacherStatus">
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>

</div>

